<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/signup.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>COMP2136 Signup</title>
  </head>
  <body>
    <main>
      <h1>Signup for COMP2136</h1>
      <form>
        <div>
          <label>Name</label
          ><input id="first_name" type="text" placeholder="First Name" />
          <input id="last_name" type="text" placeholder="Last Name" />
          <span id="name_error" class="error-span"></span>
        </div>
        <div>
          <label>Email</label
          ><input id="email" type="text" placeholder="nando@goat.es" />
        </div>
        <div>
          <label>Confirm Email</label
          ><input id="confirm_email" type="text" placeholder="nando@goat.es" />
          <span id="email_error" class="error-span"></span>
        </div>
        <div>
          <label>Date of Birth</label
          ><input id="dob" type="date" value="1991-02-07" /><span
            id="dob_error"
            class="error-span"
          ></span>
        </div>
        <div><label></label>
          <input type="checkbox" id="terms" checked />
          <label>I agree to the Terms and Conditions</label>

        </div>
        <div>
          <label></label
          ><input type="submit" id="signup" value="Signup" /><input
            id="reset_form"
            type="reset"
          />
        </div>
      </form>

      <div>
        <div>
          <span id="success_message"></span> 
        </div>
      </div>
    </main>
    <script src="js/signup.js"></script>
  </body>
</html>
